<section class="channels">
		<h2>Groups</h2>
		<ul>
			{{#each groups as |group|}}
			 <li>{{group.channelName}}</li>
			{{/each}}
	 	</ul>

	 	<h2>Individuals</h2>
		<ul>
			{{#each individuals as |individual|}}
			 <li>{{individual.channelName}}</li>
			{{/each}}
	 	</ul>
	</section>