<section class="channels">
  <h2>Groups</h2>
  <ul>
    {{#each groups as |group|}}
    <li>
      <button {{action changeChannel group.channelName}}>
        {{group.channelName}}
      </button>
    </li>
    {{/each}}
  </ul>

  <h2>Individuals</h2>
  <ul>
    {{#each individuals as |individual|}}
      <LinkTo @route="channels.me">
        {{individual.channelName}}
      </LinkTo>
    {{/each}}
  </ul>
</section>
