<div class="me-container">
  <section class="me-section">
    <img src={{profileUrl}} alt="profile link"/>
    <button name="message-button" type="button">Message</button>
    <button name="edit-profile-button" type="button">Edit profile</button>
    <button name="more-button" type="button">More</button>
  </section>
  <h3>{{name}}</h3>
  <p>Status
    {{status}}
  </p>
  <p>Display name
    {{displayName}}
  </p>
</div>
