<div class="container">
  {{channel-list channels=channelNames changeChannel=(action "changeChannel")}}

  {{message-list messages=messages}}

  {{current-channel-details currentChannel=currentChannel}}

  {{outlet}}
</div>
